<p>vehicle-registration-form works!</p>

<style>
	.error {   color : Red;  }
</style>


<h3> Angular Form Validations using  Model Driven  </h3>
<hr/>

<form [formGroup]="VehicleRegistrationForm" (submit)="submit_click()">
  <fieldset>
      <legend>Vehicle Registration Form</legend>

      First Name:
      <input type="text" formControlName="Owner_Name"  />
      <span *ngIf="VehicleRegistrationForm.controls['Owner_Name'].invalid && VehicleRegistrationForm.controls['Owner_Name'].dirty" class="error">First Name is required</span>

      <br/><br/>

      Contact_Number:
      <input type="text" formControlName="Contact_Number"  />
      <span *ngIf="VehicleRegistrationForm.controls['Contact_Number'].invalid && VehicleRegistrationForm.controls['Contact_Number'].dirty" class="error">First Name is required</span>
      <br/><br/>


      Vehicle_Registration_Number  :
     <input formControlName="Vehicle_Registration-Number "  />
      <span  class="error"  *ngIf="VehicleRegistrationForm.controls['Vehicle_Registration-Number'].invalid && VehicleRegistrationForm.controls['Vehicle_Registration-Number'].dirty">
     Enter proper vehicle registeration number.
    </span>
    <br><br>

    Address  :
    <input  formControlName="Address"  />
    <span  class="error"  *ngIf="VehicleRegistrationForm.controls['Address'].invalid && VehicleRegistrationForm.controls['Address'].dirty">
      Enter detail address 
    </span>
    <br><br>

    Vehicle_Registration-Number :
    <input 	formControlName="Model"  />
      <span  class="error"  *ngIf="VehicleRegistrationForm.controls['Model'].invalid && VehicleRegistrationForm.controls['Model'].dirty">
       Vehicle_Registration-Number should be ten digits.
      </span>
    <br><br>

    Year :
    <input 	formControlName="Year"  />
      <span  class="error"  *ngIf="VehicleRegistrationForm.controls['Year'].invalid && VehicleRegistrationForm.controls['Year'].dirty">
        Year should be between 2012-2022.
      </span>
    <br><br>

      <button [disabled]="VehicleRegistrationForm.invalid">Register</button>
  </fieldset>
</form>