<p>emp works!</p>
<table border="1px" style="width:500px">
    <thead>
        <th colspan="2">Employee Details</th>
    </thead>
    <tbody>
        <tr>
            <td>Employee ID</td>
            <td>{{emp_id}}</td>
        </tr>
        <tr>
            <td>Employee Name</td>
            <td>{{emp_name}}</td>
        </tr>
        <tr>
            <td>Employee Job</td>
            <td>{{emp_job}}</td>
        </tr>
        <tr>
            <td>Employee Salary</td>
            <td>{{emp_salary}}</td>
        </tr>
        <tr>
            <td>Employee Depo</td>
            <td>{{dept_id}}</td>
        </tr>
    </tbody>
</table>