<!-- <p>login works!</p> -->

<style>
    .container
    {
      align-items: center;
    
    }
    .card
    {
      align-self: center;
    }
    </style>
   
  
  <mat-toolbar color="primary">
    
  </mat-toolbar>
  <br/><br/><br/>
  
  
  
  <mat-card>
    <mat-card-header>
      <mat-card-title align="center">Login</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form >
        <table  cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="uid" name="Username" required="true">
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="pwd" type="password" name="password" required="true">
          </mat-form-field></td>
        </tr></table>
      </form>
      
    </mat-card-content>
  
    <button  mat-raised-button color="primary" (click)="login_click()">Login</button>
  
    <p> {{result}} </p>
   </mat-card>